{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <nav class="flex justify-between px-10 py-5 bg-black text-white items-center">
      <label for="" class="text-4xl">NS</label>
      <ul class="flex gap-20">
        <li>Info</li>
        <li>About</li>
        <li>Project</li>
        <li>Contact</li>
      </ul>
      <a href="" class="p-2 bg-green-400 rounded-lg">Contact</a>
    </nav>

    <section class="flex justify-center items-center h-[40vh] bg-red-400">
     <h1 class="text-9xl"> Django </h1>
    </section>
</body>
</html>